* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container .tenor-gif-embed {
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 20px;
}

.btn a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff6666;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
